## .coveragerc to control coverage.py
## see https://coverage.readthedocs.io/en/stable/config.html

[run]
data_file = .coverage
branch = True
source =
    # go with packages instead of directories, so we can run in tox correctly
    nichtparasoup
omit =
    # Don't complain if non-runnable code isn't run:
    */__main__.py

[paths]
nichtparasoup =
    src/nichtparasoup/
    */site-packages/nichtparasoup/

[report]
# TODO set proper value
fail_under = 0
exclude_lines =
    # Have to re-enable the standard pragma
    \#\s*pragma: no cover
    # Don't complain if non-runnable code isn't run:
    ^if __name__ == ['"]__main__['"]:$
    ^\s*if False:
# partial_branches =
ignore_errors = True
show_missing = True

[html]
directory = reports/htmlcov

[xml]
output = reports/coverage.xml
