## https://packaging.python.org/guides/using-manifest-in/

# blank start
global-exclude *

# required: this file
include MANIFEST.in


# project files
include README.md
include requirements/*.txt
include pyproject.toml
include setup.cfg setup.py
graft src


# additional files and folders

include LICENSE INSTALL HISTORY.md

graft docs
graft examples
graft images
graft tests

include .coveragerc
include .flake8
include pytest.ini
include mypy.ini
include tox.ini


# excludes

global-exclude *_cache/*
global-exclude __pycache__
global-exclude *.py[cod]

global-exclude .gitignore .gitattributes
