/* remember for development: lines that include the string "@striponbuild" will be stripped on build ;-) */

html {
	direction: ltr;
	overflow: scroll;
	overflow-x: hidden;
}

html, body {
	color: #ccc;
	background-color: black;
	margin: 0ex 0em;
	padding: 0ex 0em;
	height: 100%;
}

#header {
	z-index: 99999;
	display: block;
	position: fixed;
	top: -42px;
	left: 0;
	right: 0;
	height: 7ex;
	line-height: 4ex;
	background-color: #111;
	background-color: rgba(23, 23, 23, 0.9);
	text-align: right;
	padding: 0ex 2em;
	border-bottom: 1px solid #111;
	transition: all 0.6s ease-in-out 0s;
}

#header:hover {
	top: 0;
	border-bottom: 1px solid #808080;
}

input[type="range"] {
	position: relative;
	top: 5px;
}

#toggle {
	margin: 0ex 5em;
	cursor: pointer;
	display: inline-block;
	width: 5em;
}

#toggle:hover {
	text-decoration: underline;
}

#wall {
	margin-top: 2ex;
	display: block;
	height: 100%;
}

#wallbreaker {
	clear: both;
	display: none;
}

#wall img {
	margin: 1ex 1ex;
	padding: 0ex 0em;
	border: 1px solid #999;
	display: inline;
	display: inline-block;
	float: left;
	max-height: 80%;
	/* max-width: 80%; */
}

#wall img.hidden {
	display: none;
}

#wall img.scaleIn {
	animation: scaleIn linear 0.5s;
	-webkit-animation: scaleIn linear 0.5s;
	-moz-animation: scaleIn linear 0.5s;
	-o-animation: scaleIn linear 0.5s;
	-ms-animation: scaleIn linear 0.5s;

	transform-origin: top left;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
}

@keyframes scaleIn {
	from { transform: scale(0); }
	to   { transform: scale(1); }
}

@-webkit-keyframes scaleIn {
	from { -webkit-transform: scale(0); }
	to   { -webkit-transform: scale(1); }
}

@-moz-keyframes scaleIn {
	from { -moz-transform: scale(0); }
	to   { -moz-transform: scale(1); }
}

@-o-keyframes scaleIn {
	from { -o-transform: scale(0); }
	to   { -o-transform: scale(1); }
}

@-ms-keyframes scaleIn {
	from { -ms-transform: scale(0); }
	to   { -ms-transform: scale(1); }
}
