
/* remember for development: lines that include the string "@stripOnBuild" will be stripped on build ;-) */

.stateSwitchContainer > input {
	display: none;
}
.stateSwitchContainer:after {
	display: inline-block;
	width: 1.5em;
}
.stateSwitchContainer.state_0:after { content: 'off'; }
.stateSwitchContainer.state_1:after { content: 'on'; }

.stateSwitchContainer { cursor: pointer; }

