.button {
	min-height: 2ex;
	min-width: 2.2ex;
	vertical-align: middle;
	background-color: #111;
	color: #eee;
	border: 1px solid #ccc;
	border-radius: 0.5ex;

	display: inline;
	display: inline-block;
	padding: 0.2ex 0.4ex;

	line-height: 2.8ex;
 }

a.button:hover ,
label.button:hover {
 /* invert colors */
	background-color: #ccc;
	color: #111;
	cursor: pointer;
}