# constraints from the package itself:
# set as `install_requires`

    typing-extensions >= 3.7.4 ; python_version < '3.8'
    # for ConfigFiles:
    ruamel.yaml >= 0.16
    yamale >= 3.0
    # for WebServer:
    werkzeug >= 1.0, < 3.0
    mako >= 1.1
    # for PluginsSupport:
    setuptools >= 41.0
    # for CLI:
    click >= 7.1 , < 8.0
