# GitHubActions for testing
# read the docs: https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow

name: Test PythonPluginExample

on:
  push:
    branches:
      - 'master'
      - '3.0-dev'
    paths:
      - '.github/workflows/python-plugin-example-tests.yaml'
      - 'python-plugin-example/**'
      - '!python-plugin-example/docs/**'
      - '!python-plugin-example/**.md'
      - '!python-plugin-example/**.rst'
      - '!python-plugin-example/INSTALL'
      - '!python-plugin-example/LICENSE'
  pull_request:
    branches:
      - 'master'
      - '3.0-dev'
    paths:
      - '.github/workflows/python-plugin-example-tests.yaml'
      - 'python-plugin-example/**'
      - '!python-plugin-example/docs/**'
      - '!python-plugin-example/**.md'
      - '!python-plugin-example/**.rst'
      - '!python-plugin-example/INSTALL'
      - '!python-plugin-example/LICENSE'
  schedule:
    # schedule weekly tests, since we dont run on every change of 'python-package/src'
    # this means: at 23:55 on Fridays
    - cron: '55 23 * * 5'

defaults:
  run:
    working-directory: python-plugin-example

jobs:
  test:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # check the style
          - name: 'Style'
            os: ubuntu-latest
            python: '3.8'
            toxenv: style
          # check latest Python for all OS
          - name: Linux
            os: 'ubuntu-latest'
            python: '3.8'
            toxenv: tests_start, py38, coverage_report
            upload_coverage: true
          - name: Windows
            os: windows-latest
            python: '3.8'
            toxenv: py38
          - name: 'MacOs'
            os: macos-latest
            python: '3.8'
            toxenv: py38
          # check older Python
          - name: '3.7'
            os: ubuntu-latest
            python: '3.7'
            toxenv: py37
          - name: '3.6'
            os: ubuntu-latest
            python: '3.6'
            toxenv: py36
    steps:
      - name: Fetch Code
        # see https://github.com/actions/checkout
        uses: actions/checkout@v2

      - name: Setup Python ${{ matrix.python_version }}
        # see https://github.com/actions/setup-python
        uses: actions/setup-python@v2
        with:
          python-version: '${{ matrix.python }}'

      - name: Get pip cache dir
        id: pip-cache
        # as shown here: https://github.com/actions/cache/blob/master/examples.md#using-pip-to-get-cache-location
        run: echo "::set-output name=dir::$(python -m pip cache dir)"

      - name: Setup pip cache dir
        # see https://github.com/actions/cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: pip-${{ runner.os }}-${{ matrix.python }}-${{ hashFiles('python-plugin-example/requirements/*.txt') }}
          restore-keys: |
            pip-${{ runner.os }}-${{ matrix.python }}-

      - name: Install dependencies
        run: |
          python -m pip install wheel setuptools pip
          python -m pip install -r requirements/tox.txt

      - name: Test python-plugin-example
        run: python -m tox -r -s false
        env:
          TOXENV: ${{ matrix.toxenv }}
          TOX_PARALLEL_NO_SPINNER: 1

      - name: Upload coverage to Codecov
        if: ${{ github.repository_owner == 'k4cg' && matrix.upload_coverage }}
        # have PRs backed-up: Anyone without write access to a repository cannot read and use secrets
        continue-on-error: true
        # see https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v1.0.12
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: python-plugin-example/coverage.xml
          flags: python-plugin-example
          name: python-plugin-example

      - name: Clean pip cache dir
        if: ${{ steps.pip-cache.outcome == 'success' }}
        run: python -m pip cache remove 'nichtparasoup*' || true

  sonarcloud:
    name: SonarScanner
    if: ${{ github.repository_owner == 'k4cg' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: SonarCloud Scan
        # have PRs backed-up: Anyone without write access to a repository cannot read and use secrets
        continue-on-error: true
        # see https://github.com/SonarSource/sonarcloud-github-action
        uses: sonarsource/sonarcloud-github-action@master
        with:
          projectBaseDir: python-plugin-example
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  codeql:
    # see https://github.com/github/codeql-action
    name: CodeQL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          # We must fetch at least the immediate parents so that if this is
          # a pull request then we can checkout the head.
          fetch-depth: 2
      - run: git checkout HEAD^2
        # If this run was triggered by a pull request event, then checkout
        # the head of the pull request instead of the merge commit.
        if: ${{ github.event_name == 'pull_request' }}
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: python
          config-file: ./.github/codeql/python-plugin-example.yaml
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
